.card *{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.card {
    background-color: cadetblue;
    border-radius: 10px;
    min-width: 400px;
    height: 100px;
    padding: 16px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card #data{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.card #data .score {
    font-size: 32px;
}
.card #data .carrot {
    font-size: 40px;
}
.card #data .gains {
    font-size: 16px;
}


.card #right {
    display: flex;
    flex-flow: column nowrap;
}
.carrotContainer {
    text-align: center;
}
.card .carrot{
    transform: rotate(0deg);
}