.Footer * {
    padding:0px;
    margin:0px;
    border: 0px;
}

.Footer {
    background-color: #76c2af;
    height: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}