.signedIn {
    width: 150px;
}

.signedIn .linked{
    text-decoration: none;
}
.signedIn span{
    color:white;
    text-decoration: none;
    background-color: #76c2af;
    border-radius: 5px;
    padding:  4px 8px;
}

.signedIn span:hover{
    text-decoration: underline;
}